# LangChain Core
langchain-core>=0.2.0

# LangChain Community and specific integrations
langchain-community
langchain-google-genai
langchain-openai
langgraph
langgraph-checkpoint-sqlite

# Pydantic v2 is now compatible with recent langchain versions
pydantic

# Application Server and Framework
uv
uvicorn
fastapi

# Other dependencies
elevenlabs
google-cloud-texttospeech
python-dotenv
boto3
gtts
python-multipart