# LangChain Core
langchain-core>=0.2.0

# LangChain Community and specific integrations
langchain-community
fastapi
google-genai
langchain
langchain-core
langchain-google-genai
langchain-openai
langgraph
langgraph-checkpoint-sqlite

# Pydantic v2 is now compatible with recent langchain versions
langgraph-cli
langsmith
pydantic

# Application Server and Framework
uv
uvicorn
fastapi

# Other dependencies
elevenlabs
google-cloud-texttospeech
python-dotenv
gtts
langgraph-checkpoint-sqlite
openai
python-multipart
sqlalchemy
boto3
passlib[bcrypt]
python-jose[cryptography]
python-multipart
email-validator