# LangChain Core
langchain-core>=0.2.0

# LangChain Community and specific integrations
langchain-community
langchain-google-genai
langchain-openai

# Pydantic v2 is now compatible with recent langchain versions
pydantic

# Application Server and Framework
uv
uvicorn
fastapi

# Other dependencies
elevenlabs
google-cloud-speech
python-dotenv